services:
  service.customers:
    image: ${DOCKER_REGISTRY-}servicecustomers
    build:
      context: .
      dockerfile: Service.Customers/Dockerfile
    container_name: customers
    ports:
      - "5001:5000"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development

  service.orders:
    image: ${DOCKER_REGISTRY-}serviceorders
    build:
      context: .
      dockerfile: Service.Orders/Dockerfile
    container_name: orders
    ports:
      - "5002:5000"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    depends_on:
      - service.customers
  gateway:
    build:
        context: .
        dockerfile: ApiGateway/Dockerfile
    container_name: gateway
    ports:
        - "8080:80"
    depends_on:
      - service.customers
      - service.orders

